<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    {{!-- <h1>Home</h1> --}}
    {{!-- <h2>hello {{naming}}</h2> --}}
    <h1><center>WelCome</center></h1>
    <div class="ss">
    
    <p>SignUp
    <a href="/signup" class="sp">Create a new account</a>
    </p>
    <br>
    <p>Login
    <a href="/login" class="sp">Login</a>
    </p>
    </div>
    
</body>
</html>